@using Fine_FreeLancing_Website.Models;
@model Fine_FreeLancing_Website.Models.JobVM;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Post Job";
}

<div class="container d-flex justify-content-center align-items-center mx-auto p-2 border border-success rounded-4 shadow-lg">
    <div class="container d-flex justify-content-center align-items-center px-auto" style="height:100vh;">
        
        <div class="text-danger" asp-validation-summary="All"></div>

        <form class="col-9" asp-action="PostJob" asp-asp-controller="Job" method="post">
            <div class="row-4 ">
                <div class="col-6">
                    <input asp-for="JobTitle" type="text" class="form-control" placeholder="Enter Your Job Title">
                </div>
            </div>
            
            <br>
            <div class="row-4">
                <div class="col-6">
                    <textarea asp-for="JobDescription" type="text" class="form-control" placeholder="Write Something about your Business"> </textarea>
                </div>
            </div>
            <br>

            <div class="row-4">
                <div class="col-6">
                    <select asp-for="JobType" class="form-select">
                        <option value="full_time" selected> Full-Time</option>
                        <option value="part_time" > Part-Time</option>
                        <option value="contract" > Contractual</option>
                    </select>
                    
                   
                </div><br>
                <div clas="row-4" >
                <div class="col-6">
                    <input asp-for="JobPrice" type="text" class="form-control col-6" placeholder=" Enter Your Price">
                </div>
                </div>
            </div>
            <br>
            <div class="row-4">
                <div class="col-6">
                    <input asp-for="Expiredate" type="datetime-local" class="form-control" placeholder="Project-Deadline">
                </div>
            </div>
            <br>
            <br>
            
            
            <div class="d-grid gap-4">
                <button class="btn btn-outline-dark" type="submit" asp-action="PostJob"> Post </button>
                <a asp-action="Login" asp-controller="Account" class="btn btn-outline-danger">Login</a>
            </div>

        </form>
    </div>
</div>
