@using Fine_FreeLancing_Website.Models;
@model Fine_FreeLancing_Website.Models.JobVM;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Post Job";
}

<div class="container bg-primary">
    <p> Lorem ipsim sfhkjjjjjjjjjjjjjjj</p>

</div>
