@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fine_FreeLancing_Website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fine_FreeLancing_Website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.hf.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/Footer-Clean.css">
    <link rel="stylesheet" href="~/css/styles.css">
    
    <style>
        body{
            /* https: //images.unsplash.com/photo-1617957743097-0d20aa2ea762?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */
            background-image: url("https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60107fa5208b453f66790347_6002086f72b727fb1501e17c_freelance-websites.jpeg");
            background-size:cover;
        }
    </style>
</head>
<body class = "container-fluid">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-xl">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Fine-FreeLancer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="Index">Find Jobs</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="PostJob">Post Job</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="MyJobs">My Jobs</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="PostedJobs">My PostedJobs</a>
                        </li>                        
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Proposal" asp-action="MyProposals">My Proposals</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="d-sm-inline-flex end ">
                @if (signInManager.IsSignedIn(User))
                {                    
                        <button ><a class="logout-button" asp-controller="Account" asp-action="Logout" >@User.Identity.Name </a></button>                                                
                }
                else
                {
                    <button class="btn btn-outline-success m-sm-1"><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Loginurl" asp-route-id="">Log in </a></button>
                    <button class="btn btn-success m-sm-1"> <a class="nav-link text-white" asp-controller="Account" asp-action="Signup"> Register </a></button>
                }
                </div>

            </div>
        </nav>
    </header>
    
    <div class="container ">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




     <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Start: Services -->
                <div class="col-sm-4 col-md-3 item text-dark">
                    <h3 class ="fw-bold"> Services</h3>
                    <ul>
                        <li><a href="#" class="text-dark">Web design</a></li>
                        <li><a href="#" class="text-dark">Development</a></li>
                        <li><a href="#" class="text-dark">Hosting</a></li>
                    </ul>
                </div>
                <!-- End: Services -->
                <!-- Start: About -->
                <div class="col-sm-4 col-md-3 item text-dark">
                    <h3 class="fw-bold">About</h3>
                    <ul>
                        <li><a href="#" class="text-dark">Company</a></li>
                        <li><a href="#" class="text-dark">Team</a></li>
                        <li><a href="#" class="text-dark">Legacy</a></li>
                    </ul>
                </div>
                <!-- End: About -->
                <!-- Start: Careers -->
                <div class="col-sm-4 col-md-3 item text-dark">
                    <h3 class="fw-bold"> Careers</h3>
                    <ul class="">
                        <li><a href="#" class="text-dark">Job openings</a></li>
                        <li><a href="#" class="text-dark">Employee success</a></li>
                        <li><a href="#" class="text-dark">Benefits</a></li>
                    </ul>
                </div>
                <!-- End: Careers -->

            </div>
        </div>
            <br />    <br />
    </footer> 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

