@using Fine_FreeLancing_Website.Models;

@model UserVM;


@{
    ViewData["Title"] = "Signup";
    Layout = "_Layout4";

}

<div class="container d-flex justify-content-center align-items-center my-5 mx-auto p-2 border border-success rounded-4 shadow-lg overflow-hidden"
     style="background-image:url(https://images.unsplash.com/photo-1617957743097-0d20aa2ea762?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);background-size:cover;">

     @* style="background-image:url(https://cdn6.f-cdn.com/contestentries/1562160/33331481/5d4ed0c6cacac_thumb900.jpg);background-size:cover;" *@
    <div class="container d-flex justify-content-center align-items-center px-auto" style="height:100vh;">
        
    <form class="col-6 px-4" asp-action="Login" method="post" >

        <div class="form-group form-floating input-group-sm">
            <input asp-for="FullName" class="form-control" id="floatingInput" placeholder="Full Name" />
            <label for="floatingInput">Full Name</label>
        </div>
        <br>
            <div class="form-group form-floating input-group-sm">
            <input asp-for="UserName" class="form-control" id="floatingInput" placeholder="Username" />
            <label for="floatingInput">Username</label>
        </div>
        <br>
            <div class="form-group form-floating input-group-sm">
            <input class="form-control" asp-for="Email" id="floatingInput" placeholder="Email" />
            <label for="floatingInput">Email</label>
        </div>
        <br>
        <div class="justify-content-between mb-3">
            <div class="form-check form-check-inline mb-3">

                <label for="Male">Male   </label>
                <input type="radio" name="Gender" asp-for="Gender" value="Male">
                <label for="female">Female   </label>
                <input type="radio" name="Gender" asp-for="Gender" value="Female">

            </div>

        <div class="form-check form-check-inline mb-3">

                <label for="Male">Freelancer   </label>
                <input type="radio" name="Userrole" asp-for="Userrole" value="Freelancer">
                <label for="female">Employer   </label>
                <input type="radio" name="Userrole" asp-for="Userrole" value="Employer">

            </div>

        </div>
            <div class="form-group form-floating input-group-sm">
            <input type="password" asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password" />
            <label for="floatingPassword">Password</label>
        </div>
         <br>
        <div class="d-grid gap-4">
            <button class="btn btn-outline-primary" type="submit" asp-action="Signup"> Register</button>
            <a asp-action="Login" asp-controller="Account" class="btn btn-outline-danger">Login</a>
        </div>
    
    </form>

        <div class="container justify-content-evenly col-4 image-holder" style="background-image:url(~/Imgs/office.png);background-size:cover;">
            <h1 class="text-dark fw-bold"><u>Signup</u></h1>
            <p class="text-muted font-monospace">
                <span class="text-dark-muted fw-bold">Join our freelancing community and unlock endless opportunities.</span>
                Sign up today to showcase your skills, connect with clients, and start earning on your own terms!
            </p>
        </div>
        <div class="text-danger" asp-validation-summary="All"></div>

    </div>
</div>